html {
  font-size: 24px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  /* background-color: forestgreen; */
  background-image: url('ginger.jpg');
  background-size: 30px auto;
  background-repeat: repeat;
  animation: bg_move 2s infinite linear;
  overflow: hidden;

}

* {
  border: 1px solid red;
}

h1#text1 {
  animation: linear move_text 4s infinite;
}

@keyframes bg_move {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 60px;
  }
}
@keyframes move_text {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 20px 20px 20px 40px;
  border: 5px solid black;
    
}

a {
    color: greenyellow;
    background-color: black;
    
}

center a {
  color: green;
  background-color: gray;
}

header h1 {
  text-align: center;
  background-color: #F282325A;
}
